$aside_width: 200px;

:host {
  display: grid;
  grid-template-columns: $aside_width 1fr;
}

aside {
  height: 100vh;
  box-shadow: 2px 0 4px 3px rgba(0, 0, 0, 0.2);
}

main {
  margin: 2em 0.5em 0.5em 3em;
}

header {
  position: fixed;
  top: 0;
  left: $aside_width;
  right: 0;
  height: 20px;
  display: grid;
  place-items: center;

  & > h1 {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2vw;
    margin: 0;
  }
}
