.blogs {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  padding: 10px;
}

.blog-item {
  display: block;
  text-decoration: none;
  color: black;
  padding: 20px;
  background-color: burlywood;
  border-radius: 5px;
}
