<h1>My Blogs</h1>

<section class="blogs">
  <a
    class="blog-item"
    *ngFor="let route of routes$ | async"
    [href]="route.route"
  >
    <h2>{{ route.title }}</h2>
    <p>{{ route.description }}</p>
  </a>
</section>
