<nav>
  <a
    routerLink="/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Home</a
  >
  <a routerLink="/blog" routerLinkActive="active">Blog</a>
  <a
    href="https://gitlab.com/alexanderschuster/alexanderschuster"
    target="_blank"
    rel="noopener noreferrer"
    >GitLab</a
  >
  <a routerLink="/contact" routerLinkActive="active">Contact</a>
</nav>
