nav {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  display: grid;
  place-items: center;
  font-size: 18px;
  border: 1px solid black;
  padding: 0.8em;
  background-color: white;
  color: black;
  transform: rotate(-15deg) translateX(20px);
  -webkit-backface-visibility: hidden;

  &.active {
    background-color: lightpink;
  }

  & + & {
    margin-top: 2em;
  }
}
